<div class="partial form">

    <h1>FORM</h1>

    <h2>Petition for more bike racks</h2>
    <h3>at Potsdamer Straße 188</h3>
    <img src="/assets/bike_racks.jpg" alt="bike-racks">

    <form method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input type="text" name="firstname" placeholder="First name">
        <input type="text" name="lastname" placeholder="Last name">
        <input id="hidden-input" type="hidden" name="signature" width="500" height="150" value="">
        <canvas id="canvas"></canvas>
        <button id="button-clear" type="button">Clear signature</button>
        <button id="button-submit" type="submit">Submit</button>
    </form>

</div>
