<div class="view home">


    <h1>Petition</h1>
    <h2>for more <img src="/assets/bike.svg" alt="bike"> racks</h2>
    <h3>at Potsdamer Straße 188</h3>

    </br>
    </br>
    </br>

    {{#if updated}}
        <p>Your profile has been successfully updated.</p>
    {{else if loggedout}}
        <p>You are now successfully logged out.</p>
    {{else}}
        <p>As a <img id="spiced" src="/assets/SPICED.png" alt="spiced">-ling,
            now I tend to spend many hours sitting and coding... don't get me wrong, I enjoy (most of) it,
         but I'm used to much more physical activity and for that reason I believe biking to and from school is the best.
         One saves money on the BVG tickets and spares her/his nose of stinky summer odours (tnx @ Elisa for fighting that cause!).
     </p>
    {{/if}}

    </br>


</div>
