<div class="view list">
    
    <ol>So far {{numSigners}} people signed petition:
        {{#listSigners}}
            <li>
                {{first_name}} {{last_name}}
            </li>
        {{/listSigners}}
    </ol>

</div>
