<div class="view login">


    <h7>*** LOG IN ***</h7>
    </br>

    <form method="post">

        <input name="_csrf" type="hidden" value="{{ csrfToken }}">

        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">

        </br>
        <button type="submit">Log in</button>

    </form>

    <p>If you don't have an account, please <a href="/register">register</a></p>


</div>
