<div class="view petition">


    <h7>*** PETITION ***</h7>
    </br>

    <input type="text" name="firstname" value="{{ firstName }}" disabled>
    <input type="text" name="lastname" value="{{ lastName }}" disabled>

    <form method="post">

        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <input id="hidden-input" type="hidden" name="signature" width="500" height="150" value="">
        <canvas id="canvas"></canvas>

        <button id="button-clear" type="button">Clear signature</button>
        <button type="submit">Sign the petition!</button>

    </form>


</div>
