<div class="view profile">


    <h7>*** PROFILE ***</h7></br>

    <p>If you want, please share a little bit about youself:</p>

    <form method="post">

        <input name="_csrf" type="hidden" value="{{ csrfToken }}"></br>

        <input type="number" name="age" placeholder="Age" min="18" max="111"></br>
        <input type="text" name="city" placeholder="City"></br>
        <input type="url" name="homepage" placeholder="Homepage"></br>

        <button type="submit">Continue</button></br>

    </form>


</div>
