<div class="view thanks">


    <h7>*** THANKS ***</h7>
    </br>

    <h3>Thanks for supporting the cause!</h3>
    <img src={{ signature }}>
    <p><a href="/list">See all {{numSigners}} signers</a></p>


</div>
